*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
}

.mainContainer{
    max-width: 1280px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 30px;
    background-color: lightblue;
    border-radius: 20px;
}

.inpContainer {
    display: flex;
    gap: 10px;
}

.themeBtn {
    border-radius: 7px;
    background-color: teal;
    border: 2px solid #1E1E1E;
    outline: none;
    max-width: max-content;
    padding: 10PX 20px;
    position: absolute;
}

.addTodo {
    min-width: max-content;
    padding: 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: black;
    color: wheat;
}

.inpBox {
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.listItem{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.markedAsDone {
    text-decoration: line-through;
    color: red;
}